footer {
	text-align: center;
	display: block;
	margin: 0 auto;
}

.index-footer {
	color: white;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
}

.flex-box-container-1 div {
	margin-right: 150px;
}
.flex-box-container-2 div {
	margin-right: 220px;
}
.centre div {
	margin-right: 220px;
	position: absolute;
}


/*add a fixed sidebar btn and header- place in own div and find the correct css*/

/* fixed header*/

header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px;
	background: white;
	
}
