footer {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.index-footer {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}